<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated dockercompose -->
      <package
            uri="http://www.isep.pt/metayaml/docker_compose"
            class="pt.isep.yamldslgen.docker_compose.DockercomposePackage"
            genModel="model/dockercompose.genmodel"/>
   </extension>

</plugin>
